<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/default}">
<head>
	<th:block layout:fragment="css"></th:block>
	<link rel="stylesheet" th:href="@{./css/index.css}">

	<th:block layout:fragment="script"></th:block>
</head>

<div layout:fragment="main" id="main">
	<div class="wrap">
		
			<div class="planner-img-box">
				<img src="image/slider/Planner1.png" alt="Planner1">
				<img src="image/slider/Planner2.png" alt="Planner2">
				<img src="image/slider/Planner3.png" alt="Planner3">
				<img src="image/slider/Planner4.png" alt="Planner4">
				<img src="image/slider/Planner5.png" alt="Planner5">
			</div>
			
			<div class="story-recommend-area" th:if="${#lists.isEmpty(storyList) == false}">
				<div class="story-recommend-box" th:each="story:${storyList}">
					<div class="story-img">
						<img th:src="@{${story.imageUrl}}">
					</div>
					<div class="story-info-box">
						<div class="story-writer" th:text="${story.nickname}">
							떡잎마을방범대
						</div>
						<div class="story-date" th:text="${#temporals.format(story.writeAt, 'yyyy.MM.dd')}">
							2024.06.05
						</div>
					</div>
					<div class="story-text" th:text="${story.storyTitle}">
						부산에서 일광욕~~~
					</div>
				</div>
				
			
			</div>
		
	
	</div>
</div>

</html>