<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
      
<div th:fragment="header" id="header">
	<nav class="nav-box">
      <div class="wrap">
        <div class="logo">Let's Trip</div>

        <div class="link-box">
          <ul class="link-ul">
            <div class="a-box">
              <a class="nav-link" href="">HOME</a>
            </div>
            <div class="a-box">
              <a class="nav-link" href="">Let's</a>
            </div>
            <div class="a-box">
              <a class="nav-link" href="">Trip</a>
            </div>
          </ul>
        </div>
        <div class="profil-icon-box">
          <img
            src="image/user.png"
            alt="프로필"
            class="profile-icon"
          />

        </div>
      </div>
    </nav>

</div>

</html>