<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
      
<div th:fragment="header" id="header">
	<nav class="nav-box">
      <div class="h-wrap">
        <div class="logo">Let's Trip</div>

        <div class="link-box">
          <ul class="link-ul">
            <div class="a-box">
              <a class="nav-link" href="/">HOME</a>
            </div>
            <div class="a-box">
              <a class="nav-link" href="">Let's</a>
            </div>
            <div class="a-box">
              <a class="nav-link" href="">Trip</a>
            </div>
          </ul>
        </div>
        <div class="profil-icon-box">
        	<th:block th:if="${#authentication.authenticated}">
				<a href="#">
    			<img th:if="${userDetail != null and !#strings.isEmpty(userDetail.profileImg)}"
    				th:src="@{/upload/profile/{img}(img=${userDetail.profileImg})}"
        			alt="프로필"
        	 		class="profile-icon"
      			    style="cursor: pointer; width: 60px; height: 60px;" />
				</a>
 			</th:block>

			<th:block th:if="${#authentication.principal == 'anonymousUser'}">
 				<a href="/login">
    			<img src="/image/user.png"
       				alt="프로필"
         			class="profile-icon"
         			style="cursor: pointer; width: 60px; height: 60px;" />
  				</a>
			</th:block>
	
        </div>
      </div>
    </nav>
</div>

</html>