<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>장소 목록</title>
</head>
<body>
    <div>
        <div>
            <button>4월 11일</button>
        </div>
        <div>
            <p>인근/맞춤추천/별점 순</p>
            <div>
                <select>
                    <option>관광지</option>
                    <option>쁘띠프랑스</option>
                    <option>더 스테이힐링파크</option>
                    <option>자라섬</option>
                    <option>명지산</option>
                </select>
                <select>
                    <option>숙소</option>
                    <option>가평 JH 풀빌라</option>
                    <option>가평 티라펜션</option>
                    <option>돌고래 리조트</option>
                    <option>가평 101 풀빌라</option>
                </select>
                <select>
                    <option>식당</option>
                    <option>미스터 닭갈비</option>
                    <option>송원 막국수</option>
                    <option>가평집</option>
                    <option>옛골</option>
                </select>
            </div>
            <a href="placeInfo.html"><button>다음</button></a>
            
        </div>
    </div>
</body>
</html>