<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>장소 정보</title>
</head>
<body>
    <div>
        <div>
            <img src="">
        </div>
        <div>
            <h2>관광지 정보</h2>
            <div>
               <p>관광지명:</p><br>
               <p>주소:</p>
               <p>설명:</p>
            </div>
            <a href="/placeResult"><button>내 관광지 목록에 추가</button></a>
            
        </div>
    </div>
</body>
</html>