<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head>
	<link rel=stylesheet th:href="@{/css/tripPlace.css}"/>
    <th:block layout:fragment="css"></th:block>
	<title>Trip</title>
</head>
<body>

<div layout:fragment="main" id="main">

  
  <div>
        <div>
         
        <div class="tourPlaces">
            <p>인근/맞춤추천/별점 순</p>
            <div class="image-row">
            	<img src="/image/koreaPlace1.jpg"/>
            	<img src="/image/koreaPlace2.jpg"/>
            	<img src="/image/koreaPlace3.jpg"/>
            <form method="get" th:action="@{/placeDetail}">
            </div>
           
            <div>
                <select id="typeSelect">
                    <option value="">유형</option>
                    <option value="1">관광지</option>
                    <option value="2">숙소</option>
                    <option value="3">식당</option>
                </select>
                <select id="placeSelect" name="placeId">
                    <option value="">장소 선택</option>
                    <th:block th:each="placeInfo : ${placeType}">
                    	<option 
     					    th:value="${placeInfo.placeId}"
       						th:text="${placeInfo.placeName}" /></option>
                    </th:block>

                </select>
                   
            </div>
            
            	<button type="button" onclick="saveSelection()">저장</button><br>
            	<button type="submit" onclick="nextPage()">다음</button>
            </form>
            
            
        </div>
    
    </div>
    
    
    
    


</div>


<th:block layout:fragment="script">
<script th:inline="javascript">
    	window.placeInfo = /*[[${placeType}]]*/ [];
    </script>
    <script src="/javascript/placeListOption.js"></script>
</th:block>

</body>
</html>