<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>장소 목록</title>
</head>
<body>
    <div>
        <div>
            <button>4월 11일</button>
        </div>
        <div>
            <p>인근/맞춤추천/별점 순</p>
            <div>
                <select id="typeSelect">
                    <option value="">유형</option>
                    <option value="1">관광지</option>
                    <option value="2">숙소</option>
                    <option value="3">식당</option>
                </select>
                <select id="placeSelect">
                    <option>장소 선택</option>
                	<th:block th:each="placeInfo: ${placeType}">
                		<option th:text="${placeInfo.placeName}"></option>
                	</th:block>
                </select>
                   
            </div>
            <a href="/placeInfo"><button>다음</button></a>
            
        </div>
    
    </div>
    
    <script th:inline="javascript">
    	window.placeInfo = /*[[${placeType}]]*/ [];
    </script>
    
    <script src="/javascript/placeListOption.js"></script>
</body>
</html>