<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>플랜 결과</title>
</head>
<body>
    <div>
        <button>4월 11일</button>
        <div>
            <h2>방문 예정 코스</h2>
            <p>관광지:</p><a href="finalPlan.html"><button>수정</button></a> 
            <p>식당:</p><a href="finalPlan.html"><button>수정</button></a>
            <p>숙소:</p><a href="finalPlan.html"><button>수정</button></a>
        </div>
    </div>
</body>
</html>