<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Insert title here</title>
</head>
<body>
	   <header>
      <button id="date1">4월 11일</button>
      <h4>인근/맞춤/추천순</h4>
      <br /><br />
      <button>식당</button>
      <br><br>
      <a href="/restaurantInfo">자세히보기</a><br><br><br>
      <br><br><br><br><br>
      <button>숙소</button>
      <br><br><br><br><br>
      <button>관광지</button>
      <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
      
      <button id="date2">4월 12일</button>
    </header>
</body>
</html>