<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>여행 일정 페이지2</title>
    <link rel="stylesheet" href="tripPlan.css" />
   
  </head>
  <body>
  <a href="/tripDateOption"><button class="btn">다음</button></a>
    <div>
      <!-- 여행 기본 정보 선택  -->
      <div>
        <div>
          <!-- 여행지역 선택 영역 수정확인 -->
          <h3>여행지역 선택</h3>
          <div>
            <!--상위지역과 하위지역-->
            <!-- 지역 자세히보기 -->
            <select id="upperRegionSelect">
              <option value="">상위</option>
              <option value="경기도">경기도</option>
              <option value="전라남도">전라남도</option>
              <option value="충청북도">충청북도</option>
             </select>
            <select  id="regionSelect">
            <option>하위</option>
            	<th:block th:each="regionInfo : ${regionType}">
              		<option th:text="${regionInfo.regionName}"></option>
                </th:block>
            </select>
            
          </div>
        </div>
        <div>
          <!--여행 인원 
         선택-->
          <label> 여행인원 </label>
          <input type="number" />
        </div>
        <div>
          <!-- 교통수단 선택-->
          <label>교통수단</label>
          <select>
            <option th:each="trafficInfo : ${vehicleType}" th:text="${trafficInfo.vehicleType}">자가용</option>

          </select>
        </div>
      </div>
    </div>
    <script th:inline="javascript">
    	window.regionInfo= /*[[${regionType}]]*/[];
    </script>
    
    <script src="/javascript/regionSelectOption.js"></script>
  </body>
</html>
