@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
.nav-box {
  display: flex;
  margin: 0 auto;
  border: 1px solid;
  height: 90px;
  width: 90vw;
  min-width: 740px;
}
.wrap {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrap > div {
  margin: 40px;
}
.link-ul {
  border: 1px solid;
  display: flex;
  width: 45vh;
  justify-content: space-between;
}

.a-box {
  border: 1px solid;
  padding: 10px 30px;
}

.profil-icon-box img {
  width: 50px;
}

.profile-sidebar {
  border: 1px solid blue;
  position: fixed;
  width: 250px;
  height: calc(100vh);
  transform: translateX(100%);
  transition: transform 0.3d ease;
  top: 0;
  /* right: 0; */
  padding: 5px;
}

.profile-sidebar.show {
  transform: translateX(0%);
}

.sideber-box {
  width: 100%;
  border: 1px solid blanchedalmond;
  height: 100%;
}

.sidebar-header {
  display: flex;
  flex-direction: column;
}

.sidebar-header .profile-box {
  display: flex;
}

.profil-icon-box {
  display: flex;
}

.sidebar-header {
  border: 1px solid saddlebrown;
  margin: 11px 0;
}

.sideber-profile-img {
  width: 50px;
  margin: 0 10px 0 0;
}

.user-op-box {
  display: flex;
  justify-content: space-between;
}
